# NOTE: you need to create your own .env file in the backend folder, and put this code in there

PORT=5001
# put the actual connection URI here (in discord)
DATABASE_URL="postgres://user:password@host:port/dbname?sslmode=require"
# put the jwt secret here (also in discord)
JWT_SECRET="jwt_secret_here"
# put the api key here (again in the discord)
TMDB_API_KEY="tmdb_api_key_here"